rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /avatars/{uid}.jpg {
      allow read: if true;
      allow write: if signedIn() && request.auth.uid == uid;
    }

    match /voice_journals/{uid}/{fileName} {
      allow read, write: if signedIn() && request.auth.uid == uid;
    }

    match /photo_memories/{uid}/{fileName} {
      allow read, write: if signedIn() && request.auth.uid == uid;
    }
  }
}
